.footer {
	padding: 3em 0 1em;
	background-color: $color4;

	&__container {
		width: 90%;
		margin: 0 auto;

		@media screen and (min-width: 1024px) {
			width: 85%;
		}

		@media screen and (min-width: 1200px) {
            width: 1110px; 
        }
	}
	&__items-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		margin-bottom: 5em;

		@media screen and (min-width: 1024px) {
        	margin-bottom: 0;
        }
	}
	&__item {
		width: 43%;

		@media screen and (min-width: 768px) {
			width: 25%;
		}
	}
	&__item-title {
		text-transform: uppercase;
		color: #fff;
		line-height: 1.5;
	}
	&__item-list {
		margin: 0;
		padding-left: 0;
		list-style: none;
	}
	&__list-link {
		color: rgba(#fff, .5);
		text-decoration: none;
		line-height: 3;
		&:hover {
			text-decoration: underline;
		}
	}
	//social links
	&__social {

	}
	//logo svg styles
	&__logo-container {
		text-align: center;
	}
	&__logo-hyatt {
		width: 8em;

		@media screen and (min-width: 1024px) {
			width: 5em;
		}
	}
	&__logo-type {
		fill: #fff;
	}
	&__logo-circle-1 {
		fill: $color1;
	}
	&__logo-circle-2,
	&__logo-circle-8 {
		fill: #111;
	}
	&__logo-circle-3 {
		fill: #F18121;
	}
	&__logo-circle-4 {
		fill: #7582C0;
	}
	&__logo-circle-5 {
		fill: #B2AA7E;
	}
	&__logo-circle-6 {
		fill: #D5DF37;
	}
	&__logo-circle-7 {
		fill: #58B1CE;
	}
	&__logo-circle-9 {
		fill: #76C065;
	}
	//list icons
	&__social-list {
		margin: 3em 0 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: space-between;
		width: 100%;

		@media screen and (min-width: 768px) {
			width: 60%;
			margin: 2em auto 0;
		}

		@media screen and (min-width: 1024px) {
			width: 50%;
		}

		@media screen and (min-width: 1200px) {
			width: 35%;
		}
	}
	&__social-list-item {
		display: inline-block;
	}
	&__social-icon {
		fill: #fff;
		width: 2.2em;
		height: 2.2em;
		cursor: pointer;
		transition: all 250ms ease-in;
		&:hover {
			fill: $color1;
		}

		@media screen and (min-width: 768px) {
			width: 1.7em;
			height: 1.7em;
		}

		@media screen and (min-width: 1024px) {
			width: 1.4em;
			height: 1.4em;
		}
	}
	//copyright
	&__copyright {
		text-align: center;
		color: #fff;
		margin-top: 2em;

		@media screen and (min-width: 1024px) {
			font-size: .9em;
		}
	}
}