.room {
	padding: 3em 0;

	&__container {
		width: 90%;
		margin: 0 auto;
	}
	&__header {

	}
	&__header-title {
		color: $color5;
		font-weight: $bold;
		font-size: 2em;
		text-transform: uppercase;
		letter-spacing: 4px;
	}
	&__header-subtitle {
		color: $color4;
		font-weight: $black;
		text-transform: uppercase;
		font-size: 2.8em;
		line-height: 1.3;
		margin-top: 0;
	}
	//Cards
	&__items-container {

	}
	&__item {
		background-color: #fff;
		box-shadow: .5px .5px 3px 2px rgba($color5, .2);
		border-radius: 8px;
		margin-bottom: 2em;
	}
	&__img-container {
		margin: 0;
		padding: 0;
	}
	&__img {
		border-radius: 8px 8px 0 0;
	}
	//Body Card
	&__item-header {
		text-align: center;
		border-bottom: 2px solid rgba($color5, .1);
		margin-bottom: 1em;
	}
	&__item-header-title {
		color: #5F6772;
		font-size: 1.7em;
		font-weight: $normal;
		margin: .5em 0;
	}
	&__item-header-copy {
		color: #A2A8B2;
		font-size: 1.2em;
		line-height: 1.6;
	}
	//Cards icons
	&__item-copy-container {
		padding: .5em 1em 1em 1em;
	}
	&__icons-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item-icon-container {
		text-align: center;
	}
	&__item-icon {
		fill: $color2;
		width: 2em;
	}
	&__item-copy {
		font-size: .8em;
		color: #A2A8B2;	
	}
}